.movieDetails {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50vh;
    position: relative;

    .info {
        background: rgba(white, .4);
        text-align: left;
        padding: 2rem 10%;
        display: flex;

        .poster {
            box-shadow: 0 0 20px #111;
            min-width: 200px;
            position: relative;
            top: -5rem;
            width: 200px;
        }

        .content {
            margin-left: 20px;
        }
    }
}