$header-bg-color: #000;
$header-text-color: #fff;
$header-height: 100px;
$body-bg-color: #111;

body {
    background-color: $body-bg-color;
}

.App {
    text-align: center;

    .header {
        background-color: $header-bg-color;
        height: $header-height;
        padding: 20px;
        color: $header-text-color;
    }

    .title {
        font-size: 1.5em;
    }

    .intro {
        font-size: large;
    }
}